{% load static %}



<style>
	*{
		margin: 0;
		padding: 0;
	}
	#imgs{
		background-image: url('{% static 'images/footer_1.jpg' %}');
		height: 100%;
		background-size:cover;

	}

	#form_content{
		color:white;
		width: 500px;
		height: 500px;
		backdrop-filter: blur(5px);
		position: absolute;
		top: 25%;
		left: 37%;
		border-radius: 20%;
	}

	form{
		display: grid;
		grid-template-columns: 400px;
		justify-content: space-around;
		padding: 50px;
		grid-gap: 15px;	
	}
	input{
		background-color:transparent;
		border-bottom: 2px solid white;
		height: 30px;
		color: white;
		}
	
	input[type = submit]{
		background-color:gray;
		height: 30px;
		width: 150px;
		border-radius: 20%;
		margin-left: 100px;
	}
</style>


<div id="imgs" >

	<div id="form_content">
		{% for message in messages %}
			<h3>{{message}} </h3>
		{% endfor %}

		<form action="register" method="POST">
			{% csrf_token %}
			First Name: <input type="text" name="first_name" placeholder="First name">
			Last Name<input type="text" name ="last_name" placeholder="Last name">
			Username:<input type="text" name="username" placeholder="enter Username">
			Email:<input type="email" name="email" placeholder="enter email">
			Password:<input type="password" name="password" placeholder="enter password">
			<input type="submit" value="Register">
		</form>
	</div>
</div>